<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tạo BD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">TK nhập</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">TK xuất</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <form>
          <div class="form-group col-md-4">
            <label for="inputState">Người nhập</label>
            <select
              id="inputState" 
              class="form-control"
              name="pageSize"
              [(ngModel)]="selectedNguoiQL"
            >
              <option *ngFor="let NguoiQL of listNguoiQL" [(ngValue)]="NguoiQL.nguoiQL_ID">{{NguoiQL.ten_NguoiQL}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Loại biến động</label>
            <select
              id="inputState" 
              class="form-control"
              name="pageSize"
              [(ngModel)]="selectedLoaiBienDong"
            >
              <option *ngFor="let LoaiBienDong of listLoaiBienDong" [(ngValue)]="LoaiBienDong.loaiBD_ID">{{LoaiBienDong.ten_LoaiBD}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Loại biến động</label>
            <select
              id="inputState" 
              class="form-control"
              name="pageSize"
              [(ngModel)]="selectedBienDong"
            >
              <option *ngFor="let BienDong of listBienDong" [(ngValue)]="BienDong.bienDong_ID">{{BienDong.ten_BD}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputDate">Ngày</label>
            <input type="date" class="form-control" id="inputDate" [(ngModel)]="selectedNgay" (change)="ChonNgay()" required>
            <p>{{selectedNgay}}</p> 
          </div>
          <div class="form-group col-md-4">
            <label for="inputMoney">Tiền</label>
            <input type="number" class="form-control" id="inputMoney" [(ngModel)]="selectedTien">
          </div>
          <div class="form-group col-md-4">
            <label for="exampleFormControlTextarea1">Nội dung</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="selectedNoiDung"></textarea>
          </div>
          <button type="button" class="btn btn-outline-success btn-block" (click)="taoBienDong()">Tạo biến động</button>
        </form>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>